---
import Layout from "../components/Layout.astro";

---

<Layout title="acerca de">
<div class="px-5 container">
<h1 class="text-4xl pb-4 text-white text-center">About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis amet exercitationem pariatur ab tenetur, consequuntur blanditiis totam quis perspiciatis. Praesentium facilis quia sed voluptatibus odit aliquam ad quidem asperiores. Pariatur dolore similique eius ex! Repellat facere quaerat eaque dolores enim delectus nobis inventore magnam tempore nisi, ex obcaecati eligendi sed temporibus recusandae! Quos laborum nesciunt explicabo debitis in, nemo distinctio officiis! Eius, in laudantium? Exercitationem qui, facilis omnis rem, ex nihil suscipit accusantium voluptatem dolor nobis quos molestiae pariatur corrupti asperiores cupiditate debitis maxime, a quis officia architecto dignissimos assumenda? Quod illum sed magnam, ex harum, cupiditate enim, optio necessitatibus fuga iure culpa assumenda vel. Commodi in eos odit totam distinctio at natus vero ipsam minus corrupti voluptates alias, cum, modi ea perferendis sequi quod perspiciatis? Hic excepturi facilis laborum laudantium corporis voluptas dolor delectus id nihil voluptate maxime odio, sit quo autem debitis velit doloribus iusto magnam unde numquam! Saepe sequi dolore eveniet quia a quo atque illo recusandae ab, placeat nisi rem, error odio excepturi et doloribus. Similique illo sapiente ad, quia repudiandae quas. Expedita reiciendis molestiae, ea odio corrupti officiis provident? Provident, totam quia sed sapiente rerum, sunt, nobis nesciunt dolor obcaecati quo similique sit pariatur hic.</p>
</div>
</Layout>


