<footer class="bg-zinc-900 flex py-10 gap-4">
  <div class="mx-auto container flex flex-col md:flex-row justify-evenly text-center">
    <div>
      <h4 class="font-bold text-xl">Site map</h4>
      <a href="/">Home</a> <br>
      <a href="/about">About</a> <br>
      <a href="/">Pricing</a>
    </div>

    <div>
      <h4 class="font-bold text-xl">Site map</h4>
      <p>Lorem, ipsum dolor.</p>
      <p>Lorem, ipsum dolor.</p>
      <p>Lorem, ipsum dolor.</p>
    </div>

    <div>
      <h4 class="font-bold text-xl">Site map</h4>
      <a href="https://www.facebook.com/maolink/" target="_blank">Facebook</a> <br>
      <a href="https://twitter.com/maolink1" target="_blank">Twitter</a> <br>
      <a href="https://polla.maolink.co" target="_blank">Polla</a>
    </div>
  </div>
</footer>
